@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    /* Primary */

    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    
    /* Neutral */
    
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    
    /* Gradients */
    
    --Linear: 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --Linear: 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

    --font: 'Josefin Sans', sans-serif;

}

*{
    font-family: var(--font);
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    width: 100vw;
    height: 100vh;
} */

body{
    width: 100vw;
    height: 98vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-pattern-desktop.svg);
}

.left_content {
    width: 55%;
    height: 100%;
    padding: 50px 130px;
}

#main_content {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
}

#txt_coming h1, span{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 400;
}

#txt_coming span {
    font-weight: 300;
    color: var(--Desaturated-Red);
}

#paragraph p {
    font-size: 11px;
    margin: 20px 0px 20px 0px;
    line-height: 20px;
    color: var(--Desaturated-Red);
}

.form-control {
    position: relative;
}

.form-control input {
    border-radius: 30px;
    border: 1px solid hsl(0, 10%, 83%);
    padding: 15px 0px 15px 17px;
    font-size: 13px;
    width: 100%;
}

.form-control img {
    display: block;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    padding: 13px 27px 13px 27px;
    border-radius: 35px;
    position: absolute;
    top: 0;
    right: 0%;
    cursor: pointer;
    opacity: 1;
    transition: 1s;
}

.form-control img:hover {
    background: linear-gradient(135deg, hsl(0, 0%, 100%),hsla(0, 74%, 74%, 0.838)); 
} 

.form-control small {
    display: block;
    margin: -6px 20px;
    font-size: 13px;
    visibility: hidden;
}

.form-control i {
    display: block;
    position: absolute;
    top: 15px;
    right: 80px;
    visibility: hidden;
}

.form-control.error i.fa-circle-exclamation{
    color: var(--Soft-Red);
    visibility: visible;
}

.form-control.error input{
    border-color: var(--Soft-Red);
    color: var(--Soft-Red);
}

.form-control.error small {
    color: var(--Soft-Red);
    visibility: visible;
}

.form-control.success i.fa-circle-check{
    color: green;
    visibility: visible;
}

.form-control.success input {
    border-color: green;
}


.right_content {
    width: 50%;
    height: 100vh;
    background-image: url(../images/hero-desktop.jpg);
    background-repeat: no-repeat;

}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a{ 
    color: hsl(228, 45%, 44%);
}